

<header>

    <img src="/images/Logo.png" alt="Logo" class="logo">
    
    <div class="top-right-icons">
        <!-- <img src="/images/calender.png" alt="Calendar Icon" class="icon"> -->
         <a  href="/liked-events">
        <img src="/images/heart.png" alt="Heart Icon" class="icon"></a>
        <img src="/images/user.png" alt="User Icon" class="icon">
    </div>
    <div class="search-bar-container">
        <input type="text" placeholder="Search for events..." class="search-bar">
        <button type="submit" class="search-button"><img src="/images/search.png" alt="Search" class="searchIcon"></button>
    </div>  
</header>

